* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding-top: 50px;
  width: 50vw;
  display: flex;
  margin: auto;
  justify-content: center;
}
